// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// custom colors
$white: #FFFFFF;
$deep-green: #2B7178;
$light-green: #3AAFA9;
$gray: #393E41;
$red: #E94F37;
$tag: rgb(223, 159, 56);



// Original 42CAFD
// orange : EDAE49