// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// custom colors
$white: #FCFCFC;
$deep-green: rgb(43, 113, 120);
$light-green: #3AAFA9;
$gray: #393E41;
$red: #E94F37;
$tag: #EDAE49;



// Original 42CAFD