<div class="contact-button">
  <% if @deputy.email != "N/A" %>
    <a class="button button-primary contact width-grow" href="mailto:<%= @deputy.email %>?body=%0D%0A%0D%0AJe vous ai contacté grâce à MonDéputé.info (https://www.mondepute.info/)" target="blank">Contacter</a>
  <% end %>
  <a href=""></a>
</div>