<div class="follow-button">
  <% if user_signed_in? %>
    <%= link_to "Suivre", follow_deputy_path(@deputy), method: 'get', class: 'button button-primary follow width-grow' %>
  <% else %>
    <%= link_to "Suivre", follow_guest_deputy_path(@deputy), method: 'get', class: 'button button-primary follow width-grow' %>
  <% end %>
</div>