<% if @deputy.entry_date %>
  <p>A l'assemblée depuis le <%= @deputy.entry_date.strftime('%d/%m/%Y') %></p>
<% end %>
<% if @deputy.job %>
  <p>Profession précédente : <%= @deputy.job %></p>
<% else %>
  <p>Pas de profession précédente connue</p>
<% end %>
<% if @deputy.revenue = "Déclaration de revenu indisponible" %>
  <p><%= @deputy.revenue %></p>
<% else %>
  <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
<% end %>