<% if @deputy.yearlyRevenue > 0%>
  <p>Moyenne des revenus annuels (3 dernières années)</p> 
  <h3><span data-toggle="tooltip" data-placement="right" title="Les revenus sont calculés sur les trois dernières années déclarées auprès de la Haute Autorité pour la Transparence de la Vie Publique"><%= number_with_delimiter( @deputy.yearlyRevenue, :delimiter => ' ') %> k€</span></h3>
  <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
<% else %>
  <p>Nous n'avons pas réussi à calculer ses revenus<p>
  <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
<% end %>