<div class="footer d-flex flex-row justify-content-between pt-2 px-4">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Mon-Député a été réalisé avec Madeline, Alex, Ugo & Victor</p>
  </div>
</div>
