<div class="footer d-flex flex-row justify-content-center pt-2 pb-2 px-4 mb-0">
  <div class="footer-copyright text-center align-items-center">
    <p class="">Toutes les données présentées sont issues du site de l'Assemblée Nationale.
    Vous souhaitez participer au projet ? <a href="mailto:mondeputeinfo@gmail.com">Contactez nous !</a></p>
  </div>
</div>
