
  <div class="d-flex flex-column align-items-center mb-4"> 
    <h1 class="pb-3 pt-5">Bonjour <%= @user.email %></h1>
    <h2 class="pb-4">Les députés que vous suivez</h2>
  </div>
  <div class="d-flex justify-content-center dashboard-container">
    <% @deputies.each do |deputy| %>
      <div class="deputy-card-dashboard col-lg-2 col-md-6 col-sm-11 mx-3 px-0">
        <div class="avatar-container pb-4">
          <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2Fvar.2Fgal.2Fstorage.2Fimages.2Fmedia.2Fmultiupload_du_29_avril_2014.2Fnicolascage.2F2915581-1-fre-FR.2Fnicolascage.2Ejpg/480x480/quality/80/nicolas-cage-qui-va-se-souvenir-de-telles-merdes.jpg" alt="" class="avatar-bordered">
          <h3><%= deputy.first_name %> <%= deputy.last_name %></h3>
        </div>
        
        <a href="#" class="button button-primary width-grow">Ne plus suivre</a>
      </div>
    <% end %>
  </div>
