
<div class="container justify-content-center d-flex align-items-center home-container">
  <div class="col-8">
    <div class="d-flex flex-column align-items-center  mt-5 pt-5 mb-4">
      <h1>MonDéputé</h1>
      <h2>Découvrez qui est votre élu</h2>
    </div>
    <%= form_tag results_deputies_path, class:"d-flex", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "location-search",
        placeholder: "Tapez votre adresse..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>
</div>