
<div class="justify-content-center d-flex align-items-center home-container"  style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://www.inegalites.fr/IMG/arton59.jpg);">
  <div class="col-8">
    <div class="d-flex flex-column align-items-center mb-4 background-home">
      <h1>MonDéputé</h1>
      <h2>Découvrez qui est votre élu</h2>
    </div>
    <%= form_tag results_deputies_path, class:"d-flex", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "location-search",
        placeholder: "Tapez votre adresse..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>
</div>