<h1>Texts</h1>
<hr>
<h1>Main title</h1>
<h2>Secondary title</h2>
<h3>Third title</h3>
<h4>Forth title</h4>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus cumque natus labore, neque necessitatibus doloremque voluptatem aliquid impedit deserunt. Deserunt assumenda similique repellendus mollitia consequatur illo aspernatur aliquid fuga porro.</p>
<hr>

<h1>Buttons</h1>
<hr>
<a href="#" class="button button-primary">More info</a>
<a href="#" class="button button-danger">More info</a>
<hr>

<h1>Avatars</h1>
<hr>
<div class="avatar-container">
  <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2Fvar.2Fgal.2Fstorage.2Fimages.2Fmedia.2Fmultiupload_du_29_avril_2014.2Fnicolascage.2F2915581-1-fre-FR.2Fnicolascage.2Ejpg/480x480/quality/80/nicolas-cage-qui-va-se-souvenir-de-telles-merdes.jpg" alt="" class="avatar-bordered">
  <h4>Martin Dupont</h4>
</div>

<hr>

<h1>Cards</h1>
<hr>
<hr>

<h1>Inputs</h1>
<hr>

<hr>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
