.container-deputy {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 66px);
}

.deputy-card {
  display:flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  box-shadow:  4px 4px 10px #e4e4e4,
             -4px -4px 10px #ffffff;
  padding: 30px;
  width: 35%;
  text-align: center;
  height: 100%;
  position: relative;
}

.deputy-details-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.deputy-details-container p {
  margin-bottom: 0;
}

.deputy-card-social-container {
  margin-bottom: 10px;
}

.deputy-card-social-container .fab {
  background-color: $deep-green;
  color: $white;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  width: 35px;
}

.laws {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}


.law-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  box-shadow:  4px 4px 10px #e4e4e4,
             -4px -4px 10px #ffffff;
  padding: 15px 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 90%;
}

.law-card-details {
  width: 80%;
}

.law-card-details.contre h4 {
  color: $red;
}

.law-card-details.pour h4 {
  color: $light-green;
}

.law-card-details.abstention h4 {
  color: $gray;
}

.law-card p {
  margin-bottom: 0.5rem;
}

.law-card h4 {
  margin-bottom: 0.5rem;
}

.law-card-interaction-card {
  text-align: center;
  margin-left: 30px;
  width: 15%;
}

.interaction-like {
  display: flex;
  justify-content: space-between;
}

.interaction-like .far {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 100;
  opacity: 0.9;
}

.width-grow {
  width: 100%;
  display:block;
}

.bottom {
  position: absolute;
  bottom: 30px;
}