.categorie-label,
.categorie-label-top {
  color: $tag;
  opacity: 0.9;
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
  font-size: 0.8rem;
  transition: 0.3s;
  border-bottom: 1px solid $tag;
  padding-bottom: 0.1rem;
}

// .categorie-label:hover {
//   color: white;
//   background-color: $tag;
// }

.categorie-container {
  list-style: none;
  padding: 0;
}

ul {
  margin-bottom: 0;
}

.categorie-container.top {
  margin-top: 0;
  margin-bottom: 30px;
  p {
    font-size: 0.9rem;
  }
}