.categorie-label {
  padding: 5px 10px;
  color:white;
  background-color: $gray;
  opacity: 0.8;
  margin-right: 5px;
  display:inline;
  border-radius: 2px;
}

.categorie-container {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}