.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 50px;
  height: 50px;
  background-color: $deep-green;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-navbar #location-search{
  min-width: 650px ;
}

.dropdown-toggle {
  margin: 0;
  font-weight: 400;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  img {
    flex-shrink: 0;
    object-fit: cover;
  }
  p {
    margin: 0 8px;
  }
  i {
    color: $red;
  }
}
.dropdown-item:active {
  background-color: white;
}

.dropdown-item .link {
  display: flex;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.notif {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $red;
  position: absolute;
  top: 0px;
  left: -20px;
}

.navbar-nav {
  a {
    color: $gray;
    opacity: 0.8;
    margin-right: 20px;
    font-weight: 300;
  }
}
