.fa-thumbs-up, .fa-thumbs-down {
  transition: 0.15s;
  color: $gray;
}

.fa-thumbs-up:hover,
.fa-thumbs-up.true {
  cursor: pointer;
  color: $light-green;
}

.fa-thumbs-down:hover,
.fa-thumbs-down.true {
  cursor: pointer;
  color: $red;
}
