.button {
  padding: 5px 15px;
  border-radius: 2px;
  color:white;
  font-weight: 400;
  transition: 0.2s;
}

.button.follow{
  padding: 10px 15px;
  font-weight: 400;
}

.button:hover{
  text-decoration: none;
  color:white;
  opacity: 0.9;
}

.button-primary {
  background-color: $deep-green;
}

.button-info {
  background-color: $info;
}

.button-danger {
  background-color: $red;
}

.button a:link, .button a:visited, .button a:active {
  text-decoration: none;
  color:white;
}

.nav-link.button-primary-empty {
  padding: 8px 8px;
  border-radius: 2px;
  color:$deep-green !important;
  font-weight: 400 !important;
  transition: 0.2s;
  background-color: $white;
  border: 1px solid $deep-green;
  opacity: 1 !important;
}

.button-primary-empty:hover {
  color:$white !important;
  background-color: $deep-green;
}
