.button {
  padding: 5px 15px;
  border-radius: 2px;
  color:white;
  font-weight: 500;
  transition: 0.2s;
}

.button:hover{
  text-decoration: none;
  color:white;
  opacity: 0.9;
}

.button-primary {
  background-color: $deep-green;
}

.button-danger {
  background-color: $red;
}

.button a:link, .button a:visited, .button a:active {
  text-decoration: none;
  color:white;
}

.button-primary-empty {
  padding: 5px 15px;
  border-radius: 2px;
  color:$deep-green;
  font-weight: 500;
  transition: 0.2s;
  background-color: $white;
  border: 1px solid $deep-green;
}

.button-primary-empty:hover {
  color:$white;
  background-color: $deep-green;
}