// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1, h3 {
  color: $deep-green;
  font-weight: 400;
}

h2, h4 {
  color: $light-green;
  font-weight: 400;
}

p {
  color: $gray;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}